@media screen and (max-width: 820px) {
    .home3 {
      height: 230vh;
      > div {
        height: 200vh;
      }
    }
  
    .contact > main {
      height: 120vh;
      width: 100%;
      border-radius: 0%;
      h1 {
        text-align: center;
      }
    }
  }
  
  @media screen and (max-width: 700px) {
    nav {
      > h1 {
        display: none;
      }
      > main {
        width: 100%;
        justify-content: center;
        a {
          margin: 0.5rem;
        }
      }
    }
  
    .home > main {
      align-items: center;
      h1 {
        font-size: 3rem;
      }
    }
  
    .home2 {
      height: 230vh;
      flex-direction: column;
      img {
        width: 80%;
      }
      > div {
        width: 100%;
      }
    }
  
    .home3 {
      height: 130vh;
      > div {
        height: fit-content;
        text-align:justify;
        width: 90%;
        border-radius: 0px 50px 50px 0px;
        > p {
          padding: 5rem 3rem 4rem;
          font-size: 1.2rem;
          line-height: 150%;
        }
      }
    }
  
    .home4 {
      align-items: center;
      > div {
        border-radius: 50px 0px 0px 50px;
        width: 90%;
        height: unset;
      }
    }
  
    .contact > main {
      padding: 1rem;
      h1 {
        margin: 1rem;
      }
      > form {
        margin: 0%;
        > div {
          width: 100%;
        }
      }
    }
  
    footer {
      height: 50vh;
      grid-template-columns: 1fr;
      padding: 5rem;
      > div {
        align-items: center;
      }
    }
  }
  